body{
  font-family:'Nanum Gothic', sans-serif;
  font-weight:400;
  height:3000px;
}
/* common */
.inner{
  width:1100px;
  margin:0 auto;
}
/* header */
header{
  background-color:#f6f5f0;
  border-bottom:1px solid #c8c8c8;
  position:fixed;
  width:100%;
}

header > .inner{
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.header_logo{
  cursor:pointer;
}
.sub_menu_box{
 display:flex;
 justify-content: flex-end;
 margin-top:10px;
}
  
.sub_menu{
  color:#656565;
  font-size: 12px;
  font-family: Arial, sans-serif;
  display: flex;
}

.sub_menu_list{
  padding:11px 16px;
  cursor:pointer;
}
.sub_menu_list:hover{
  color:#000;
}
.search {
  position:relative;
  height:34px;
  
}

.search input{
  background-color:#fff;
  width:36px;
  height:34px;
  padding:4px 10px;
  box-sizing:border-box;
  border:1px solid #ccc;
  border-radius:5px;
  outline : none;
  color:#777;
  font-size:12px;
  transition: width .4s;
}

.search input:focus{
  width:190px;
  border-color:#669900;
}
.search .material-icons {
  position:absolute;
  top:0;
  bottom:0;
  margin: auto;
  height:24px;
  right:5px;
  transition: .4s;
}
.search.focused .material-icons{
  opacity:0;
}

.main_menu_box{
  display:flex;
  margin-top:13px;
}


.main_menu{
  color:#333;
  font-size:13px;
  font-family:Arial, sans-serif;
  display:flex;
}
.main_menu_list{
  padding:10px 20px 34px 20px;
}
.main_menu_list:hover{
    background-color:#2c2a29;
    border-radius:6px 6px 0 0;
}
.main_menu_list:hover .main_menu_sub{
  display:block;
}

.main_menu_list:hover .main_menu_list_name{
    color:#669900;
    
}
.main_menu_sub{
  display:none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2c2a29;
}
  
.main_menu_sub > .inner{
  padding:20px 0px;
}
 
  .main_menu_inner_contents{
    display:flex;
    font-family:'Nanum Gothic', sans-serif;
  }
  .main_menu_inner_contents .main_menu_inner_contents_box{
    width:20%;
  }
  
.main_menu_inner_contents h4{
  color:#fff;
  font-size:14px;
  padding:3px 0px 12px;
  font-weight:400;
  line-height:1.4;
}
.main_menu_inner_contents li{
  color:#999;
  font-size:12px;
  padding:5px 0;
}
.main_menu_inner_contents_box  li{
  cursor:pointer;
}
.main_menu_inner_contents_box  li:hover{
 color:#669900;
}

.main_menu_list:hover .contents_text{
  
  background-image:url(/images/main_menu_pattern.jpg)
}

.contents_text > .inner{
  padding:26px 0px;
}
.contents_text h4{
color:#999999;
font-size:12px;
font-family:"Nanum gothic",sans-serif;
}
.contents_text  p{
color:#64a70b;
margin:4px 0px 14px;
font-size:12px;
font-family:"Nanum gothic",sans-serif;
}

/* Badge */
.badges{
  position:absolute;
  top:132px;
  right:12px;
}
.badge{
  overflow:hidden;
  border-radius:10px;
  margin-bottom:12px;
  box-shadow:4px 4px 10px rgba(0,0,0,.15);
  cursor:pointer;
}